extends layout

block content
    .container
        .row
            .col-xs-6.center-block
            h1 Andrew's Chat App
    .container
        .row
            .col-xs-6.center-block
                h4 User 1
                h4 Sent at: time
                .well
                    | message1
            .col-xs-6.center-block
                h4 User 2
                h4 Sent at: time
                .well
                    | message2

    #chat-input
        form(role='form')
          .col-lg-12
            .input-group
                textarea.form-control(type='text', placeholder="input an awesome message")
                span.input-group-btn
                    button.btn.btn-default.send-btn(type='button')
                        | Send!
    script(type="text/javascript", src="https://cdn.socket.io/socket.io-1.0.6.js")

    script.
        var socket = io.connect('http://localhost');
          socket.on('news', function (data) {
            console.log(data);
            socket.emit('my other event', { my: 'data' });
          });

    //- script.
    //-     //- boilerplate code from http://socket.io/docs/ using the express framework section
    //-     var socket = io.connect('http://localhost');
    //-     var news = io.connect('http://localhost/news');
    //-     socket.on('news', function(data){
    //-             console.log(data);
    //-             socket.emit('my other event', { my: 'data'});
    //-         });

    //- script.
    //-     var socket = io('http://localhost');
    //-     socket.on('connect', function(){
    //-         socket.send('hi!');
    //-         socket.on('message', function(message){
    //-             'this is my message'
    //-         });
    //-     })